<nav class="footer navbar navbar-expand-sm navbar-light bg-light">
    <div id="footer-copyright" class="mr-auto py-1">
        <div class="text-muted">Copyright {{year_current}} Idea Hackers</div>
        <a href="/conduct" class="text-info text-small">Code of Conduct</a>
    </div>
    <div class="ml-auto">
        <img src="" width="">
        <a href="https://wit.edu/accelerate">
            <img src="/img/logo_accelerate.png" width="100">
        </a>
    </div>
</nav>