<nav class="footer navbar navbar-expand-sm navbar-light bg-light">
    <div class="mr-auto">
        <small>Copyright 2019 Idea Hackers</small>
    </div>
    <div class="ml-auto">
        <img src="" width="">
        <a href="https://wit.edu/accelerate">
            <img src="/img/logo_accelerate.png" width="100">
        </a>
    </div>
</nav>