<div class="conduct-page">
    <div class="conduct-wrapper">
        <section id="conduct-title" class="text-center p-5 bg-light">
            <img class="img-fluid pb-3" src="/img/logo_wordmark.png" alt="Idea Hackers">
            <div class="display-2">Code of Conduct</div>
        </section>
        <section id="conduct-body" class="bg-black p-5">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores distinctio dolores eos, inventore iure laboriosam libero nam nihil optio perferendis quae reiciendis repudiandae sit, tempora ullam. Atque consequatur consequuntur distinctio dolore dolorem eaque eveniet harum laborum, nisi non nostrum numquam optio quasi quia quo saepe similique, tenetur unde vel veniam?</p>
        </section>
    </div>
</div>
