<div class="conduct-page">
    <div class="conduct-wrapper">
        <section id="conduct-title" class="text-center p-5 bg-light">
            <img class="img-fluid pb-3" src="/img/logo_wordmark.png" alt="Idea Hackers">
            <div class="display-2">Code of Conduct</div>
        </section>
        <section id="conduct-body" class="bg-black p-5">
            <h2 class="text-info">Lorem ipsum dolor.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores distinctio dolores eos, inventore iure laboriosam libero nam nihil optio perferendis quae reiciendis repudiandae sit, tempora ullam. Atque consequatur consequuntur distinctio dolore dolorem eaque eveniet harum laborum, nisi non nostrum numquam optio quasi quia quo saepe similique, tenetur unde vel veniam?</p>
            <h3 class="text-danger">Lorem ipsum dolor sit amet.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur cupiditate dicta dolores dolorum ea eius eligendi enim eos eum eveniet exercitationem facere facilis fuga fugit laboriosam laudantium libero minus molestiae nisi odio optio pariatur, provident quasi quis quod rem reprehenderit sed sint sit soluta temporibus totam voluptatibus! Est, sunt!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur culpa delectus ea earum enim inventore, labore non odit officiis optio placeat qui quis reiciendis similique sint tempora, vel voluptatum?</p>

        </section>
    </div>
</div>
