<div class="conduct-page">
    <div class="conduct-wrapper">
        <section id="conduct-title" class="text-center p-5 bg-light">
            <!--<img class="img-fluid pb-3" src="/img/logo_wordmark.png" alt="Idea Hackers">-->
            <div class="display-2 ps2p" style="font-size: 250%;">Code of Conduct</div>
        </section>
        <section id="conduct-body" class="bg-black p-5">
            <h2 class="text-info ps2p" id="ps2p">What IdeaHackers stands for:</h2>
            <p>
                IdeaHackers stands for inclusivity. We believe that every single
                person has the right to hack in a safe and welcoming
                environment.
            </p>
            <h3 class="text-danger ps2p">Policy:</h3>
            <p>
                Harassment includes but is not limited to offensive verbal or
                written comments related to gender, age, sexual orientation,
                disability, physical appearance, body size, race, religion,
                social class, economic status, veteran status, sexual images,
                deliberate intimidation, stalking, following, harassing
                photography or recording, sustained disruption of talks or other
                events, inappropriate physical contact, and unwelcome sexual
                attention. If what you’re doing is making someone feel
                uncomfortable, that counts as harassment and is enough reason
                to <b>stop</b> doing it.
            </p>
            <p>
                If you are being harassed, notice that someone else is being
                harassed, or have any other concerns, please contact IdeaHackers
                using the reporting procedures defined below. Don't be shy, you
                are <b>not alone</b>.
            </p>
            <h3 class="text-warning ps2p">Reporting:</h3>
                <p>
                    If you wish to stay anonymous, please use the
                    <a href="https://forms.gle/R2XUsHj9xcgDCDkM8">
                        Google Form Link</a>

                </p>
                <p>
                    Otherwise, please email
                    <a href="mailto:contact@ideahack.club?Subject=Conduct%20Reporting"
                       target="_top">contact@ideahack.club</a>
                    or <a href="mailto:traubenn@wit.edu?Subject=IdeaHack%20Conduct%20Reporting"
                          target="_top">traubenn@wit.edu</a>
                </p>
            <h3 class="ps2p" style="font-size: 100% ; margin-top: 7%;">Notes:</h3>
            <p>Adapted from
                <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" >
                    MLH Code of Conduct
                </a>
            </p>
            <p>
                Last updated 7-26-19
            </p>

        </section>
    </div>
</div>
