<div class="conduct-page">
    <div class="conduct-wrapper">
        <div class="container pt-5" >
            <section id="conduct-body" class="bg-black p-5"  >
            <h3 style="text-align:center">Send us a nice message </h3>
                <h4 style="text-align:center"><a href="mailto:contact@ideahack.club?Subject=Hello!%">contact@ideahack.club</a></h4>
            </section>
        </div>
    </div>
</div>
