<style unselectable="on">
    #wrap {
        width:1000px;
        height:900px;
        padding:10px;
        left:0px;
        top:0px;
    }
    #frame {
        width:1000px;
        height:900px;
    }
</style>

<div class="conduct-page">
    <div class="conduct-wrapper">
        <div class="jumbotron">
        <h1 style="text-align: center;  font-size: 64px" class="ps2p">Our Event Schedule</h1>
        <p style="text-align: center; " >Sorry it looks so bad on mobile...</p>
            <p style="padding-bottom: 10px; text-align: center"><a href="https://outlook.office365.com/owa/calendar/ee67ffa54c5b42b996db00fe7d9f2ba3@ideahack.club/310782506a0b462dbbde0baf2ca833ac815555771338113769/calendar.html">
                Direct Link to Calender </a></p>
            <div id="wrap" unselectable="on">
            <iframe id="frame"
                    src="https://outlook.office365.com/owa/calendar/ee67ffa54c5b42b996db00fe7d9f2ba3@ideahack.club/310782506a0b462dbbde0baf2ca833ac815555771338113769/calendar.html"></iframe>
        </div>
        </div>
    </div>
</div>