<section id="main-headline">
    <div class="row no-gutters">
        <div class="col-sm">
            {{> _slideshow}}
        </div>
    </div>
    <div class="row py-3 px-4 bg-secondary border border-success align-items-center ">
        <h1 class="mr-auto">Start innovating today!</h1>
        <div class="ml-auto">
            <a href="/info" class="btn btn-outline-info" role="button">Learn More</a>
            <a href="user/register" class="btn btn-outline-success ml-3" role="button"> Join</a>
        </div>
    </div>
</section>