<div class="row">
    <div class="col-lg-6">
        {{> _slideshow}}
    </div>
    <div class="col">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Events</div>
            <div class="card-body">
                <h4 class="card-title">Events Listing</h4>
                <p class="card-text">Fetch from MongoDB</p>
            </div>
        </div>
    </div>
</div>
<div class="row p-4">
        <h3>^ Current Layout is not accurate and formatted.</h3>
</div>