<div class="conduct-page">
    <div class="conduct-wrapper">
        <section id="conduct-title" class="text-center p-5 bg-light">
            <div class="display-2 ps2p" style="font-size: 250%;">Learn About us</div>
        </section>
        <section id="conduct-body" class="bg-black p-5">
            <h2 class="text-info ps2p" id="ps2p">What is idea hackers anyways?</h2>
            <h5>
                We are an <a href="https://wit.edu/accelerate">Accelerate </a>
                club whose purpose is to encourage Hackathon participation. We
                are driven to include beginners with the ambition to learn new
                skills and tools to make the most out of their projects.
            </h5>
            <br>
            <h4>
                Our goal is to change these problems. We will accomplish this
                goal by:
            </h4>
            <ul>
                <li>
                    <h5>
                        Hosting <a href="https://www.ideahack.club/events">events
                    </a> that teach modern skills used in Hackathons.
                    </h5>
                </li>
                <li>
                    <h5>
                        Fostering a community at Wentworth that encourages out-of-class
                        projects; which in turn will advance skillsets, entice employers,
                        and help the community!
                    </h5>
                </li>
            </ul>


            <h2 class="text-info ps2p" id="ps2p" style="padding-top: 2%">Therefore, Our Mission Statement:</h2>
            <ul>
                <li>
                    <h5>
                        Foster a productive, high-energy, and inclusive tech
                        community on Wentworth’s Campus.
                    </h5>
                </li>
                <li>
                    <h5>
                        Form a connection pool that joins Wentworth’s
                        students with other Boston students,
                        professionals, and organizations.
                    </h5>
                </li>
                <li>
                    <h5>
                        Broaden and extend student's skill sets that will not only create
                        successful projects, but make WIT students stand out in the
                        job market. We do this by creating
                        <a href="http://www.ideahack.club/events">workshops</a> that teach relevant
                        skills which <b>are</b> used in the industry.
                    </h5>
                </li>
            </ul>
            <h2 class="text-info ps2p" id="ps2p" style="padding-top: 2%">
                Come join us!
            </h2>
            <h5 style="padding-bottom: 10px">By joining, you will get <i>access</i> to our
                <i>exclusive</i> slack server (sorta like Discord) as well as
                access to our events! You don't need to be a member to attend,
                but why would you not chat with us?
            </h5>
            <button onclick="window.location.href =
                'https://www.ideahack.club/user/register';"
                    class="btn btn-primary"

                    >Register for Idea Hackers</button>
        </section>
    </div>
</div>
