<div class="conduct-page">
    <div class="conduct-wrapper">
        <section id="conduct-title" class="text-center p-5 bg-light">
            <div class="display-2 ps2p" style="font-size: 250%;">Learn About us</div>
        </section>
        <section id="conduct-body" class="bg-black p-5">
            <h2 class="text-info ps2p" id="ps2p">Mission Statement:</h2>
            <p>
                Foster a productive, high-energy, and inclusive tech
                community on Wentworth’s Campus.
            </p>
            <p>
                Form a connection pool that joins Wentworth’s
                students with other Boston students,
                professionals, and organizations.
            </p>
            <p style="margin-bottom: 25%">
                Broaden and extend students skill sets that will not only create
                successful projects but make WIT students stand out in the
                job market. We do this by creating
                <a href="http://www.ideahack.club/events">workshops</a> that teach relevant
                skills which <b>will</b> be used in industry.
            </p>
        </section>
    </div>
</div>
