<!--@todo Approve or Edit New Password Email Page-->
<!--@body These two new pages I made are confusing. This one has the user submit an email to reset the password too-->

<div class="card card-body">
    <div class="text-center m-5">
        <i class="fas fa-key fa-8x pr-3"></i>
        <i class="far fa-question-circle fa-8x pl-3"></i>
    </div>

    <h3 class="text-center display-4">Password Reset Form</h3>
    <form method="post" action="/user/reset/email" class="px-3">
        <div class="form-group">
            <input type="hidden" class="form-control" name="token">
        </div>
        <div class="form-group">
            <label for="email" class="">Submit Email Registered With Account</label>
            <input type="email" class="form-control" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary">Send Email</button>
        <small id="passResetContact" class="form-text pt-3">Still having trouble? Contact <a href="mailto:contact@ideahack.club">Support</a> for account retrieval.</small>
    </form>
</div>