<div class="container pt-5">
    <h3 style="text-align: center">Hey. You should of gotten an email from us with info about the club.</h3>
    <h3 style="text-align: center">Why don't you sign up for our Slack?</h3>
    <h3 style="text-align: center">An email with the invite link was sent</h3>
</div>