body {
    overflow-x: hidden;
}

.carousel {
    overflow:hidden
}

.scroll {
    overflow-y: scroll;
}

.mb-6 {
    margin-bottom: 6rem !important;
}

#main-events {
    height: 500px
}

#main-events img {
    max-height: 250px;
    object-fit: fill;
    position: center;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.card-img-top {
    max-height: 350px;
    max-width: 100%;
    image-rendering: optimizeQuality;
    object-fit: cover;
}

.alert {
    margin: 1rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
/*-------------------------------------------------- */


@media (max-width: 576px) {
    .carousel-inner > .carousel-item img {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 576px) {
    #main-events {
        min-width: 300px;
        max-width: 400px;
    }

    .carousel-inner > .carousel-item {
        height: 500px
    }

    .carousel-inner > .carousel-item img {
        width: 100%;
        min-height: 100%;

        object-fit: cover;
    }
}